body{
  background-color: #5FD068;
}
hr{
  border-width: 5px;
  border-style: none;
  border-top-style: dotted;
  width: 20%;
}
.name{
  font-family: Lucida Handwriting;
}
img{
  border-radius: 75%;
}
.about{
border: none;
padding-left: 100px;
  width: 60%;

}
.skillset, .works, .hobbies{
  padding-left: 250px;
  padding-bottom: 45px;
  border: none;
}
.education{
  width: 100%;
  padding-left: 100px;
}
h1, h2,h3{
  color: red;
}
.divall {
      padding-left: 180px;
      width: 100%;
}
